@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

/*Coloca los elementos de la clase .header repartidos de igual manera en todo su contenedor*/
.header {
    display: flex;
    justify-content: space-between
}

/*Oculta los elementos de la clase .src-only*/
.src-only {
    display: none;
}

/*Oculpa los elementos de la clase .hide-mobile*/
.hide-mobile {
    display: none;
}

/*Ajusta el tamaño de la fuente, padding e interlineado de todos los elementos p presentes en el index*/
p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/*Ajusta el tamaño y el margen de los elementos dentro de la clase .logo*/
.logo {
    width: 90px;
    margin: 1em;
}

/*Ordena los elementos de la clase .options con la opción 'flex' en dirección de una fila, a su vez, agrega diseño y posición a dichos elementos*/
.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

/*Aumenta el tamaño de fuente del último elemento de tipo 'i' de la clase .options*/
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;
}

/*Modifica atributos de los elementos 'h2' dentro de la clase .big-hero*/
.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

/*Modifica los elementos tipo 'p' dentro de la clase .big-hero*/
.big-hero p {
    font-size: 0.7em;;
    color: #D7DEE6;

}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center

}

/*Cambia color de los elementos 'a' dentro de la clase .social-links, y además ajusta su tamaño de fuente y su decoración*/
.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 2.5em;
}

/*Cambia el color de fondo de la clase .green-area*/
.green-area {
    background-color: #0AC693; 
}

/*Ajusta margen inferior y padding de la clase .post*/
.post {
    padding: 1em;
    margin-bottom: -2px;
}

/*Los elementos 'h2' dentro de la clase .post se ven modificados: pasan a ser mayúsculas, su tamaño de fuente aumenta y se ajusta el margen*/
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

/*Quita el estilo existente que puedan tener las listas no ordenadas (ul) dentro de la clase .post*/
.post ul {
    list-style: none;
}

/*Dentro de la clase .post, ajusta el ancho y el alto de los elementos 'li' de una lista no ordenada, al igual que su margen*/
.post ul li {
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

/*Dentro de la clase .post, se ven modificados los artículos que se encuentran dentro de cada elemento 'li' de la lista no ordenada*/
.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

/*Dentro de la clase .post, los elementos tipo 'img' dentor de elementos 'article', les serán ajustados su ancho y su alto*/
.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/*Dentro de la clase .post, los 'h3' dentro de los elementos 'article' se ven modificados*/
.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Dentro de la clase .post, los 'p' dentro de los elementos 'article' se ven modificados*/
.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 2em;
}

/*Dentro de la clase .about, los 'h2' que esta contenga se verán modificados*/
.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

/*Dentro de la clase .bio-info, los elementos 'img' se les ajusta su ancho*/
.bio-info img{
   width: 200px;
}

/*Dentro de la clase .bio-info, los 'p' se ven modificados*/
.bio-info p{
    font-size: 16px;
    padding: 2em;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
}

/*Establece la clase .contact como un contenedor de tipo flex en dirección de columna*/
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
}

/*Todos los elementos contenidos dentro la clase .contact, se les modifica su margen superior*/
.contact * + * {
    margin-top: 1.5em;
}

/*Establace la clase .contact-form como un contenedor de tipo flex en dirección de columna*/
.contact-form {
    display: flex;
    flex-direction: column;
}

/*Dentro de la clase .contact-form, toma los elementos tipo 'input' y 'textarea' y modifica su borde, ancho, padding y tamaño de fuente*/
.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 80%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

/*Dentro de la clase .contact-form, los 'input', con su atributo type=submit, se verán modificados*/
.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    width: 200px;
}

/*Definiendo una imagen como fondo*/
.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

/*Personalizando el color de fondo del footer y el color de la fuente en el mismo*/
footer{
    background-color: #0D5061;
    color:#D7DEE6;
}

/*Dentro del footer, se anula el margin al contenedor de la clase .social-links*/
footer .social-links {
    margin: 0;
}

/*Personalizando la clase .menu*/
.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}

/*Definiendo dentro la clase .menu, los elementos 'li' como un despliegue tipo bloque*/
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

/*Cambiando color de los elementos 'a' dentro de los 'li' de la clase .menu*/
.menu li a {
    color: white;
    text-decoration: none;
    
}

/*Personalizando el diseño para móbiles*/
@media only screen and (min-width: 400px){

    /*Actualizando el margen de la imagen 'Isotipo'*/
    .header img{
        margin-left: 2em;
    }

    /*Modificando margen y el tamaño de fuente de los elementos 'i' dentro del nav*/
    nav i{
        margin-right: 0.5em;   
        font-size: 30px;
    }

    /*Dentro de la clase .big-hero, a los elementos 'p' se les ajusta el tamaño de la fuente y si anula el padding inferior*/
    .big-hero p{
        padding-bottom: 0;
        font-size: 1em;
    }

    /*Modificando los márgenes de la clase .social-links*/
    .social-links{
        margin-top: 0.8em;
        margin-bottom: 3.5em;
    }

    /*Modificando los elementos 'i' dentro de la clase .social-links, ajustando su tamaño de fuente y su ancho*/
    .social-links i{
        font-size: 1.4em;
        width: 1.2em;
    }

    /*Establece el tamaño de los elementos 'article' dentro de los li existentes en la clase .container.post*/
    .container.post li article{
        width: 300px; 
        height: 400px;
    }

    /*Definiendo la clase .container.post como un contenedor con despliegue tipo flex*/
    .container.post {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Definiendo la clase .container, dentro de la clase .about, como un contenedor con despliegue tipo flex*/
    .about .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Ajustando el ancho de el contender de la clase .contact-form, dentro de la clase .contact*/
    .contact .contact-form{
        width: 320px;
    }

    /*Ajustanto el ancho y el padding de los 'p' contenidos dentro del contenedor de clase .bio-info*/
    .bio-info p{
        width: 400px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
    }

    /*Ajustando el ancho y el margen inferior de los input con el atributo 'type'=submit*/
    .contact-form input[type=submit]{
        width: 300px;
        margin-bottom: 2em;
    }

    /*Ajustando el área los elementos input y los textarea dentro de la clase .contact-form*/
    .contact-form input, .contact-form textarea{
        width: 100%;   
    }

    /*Modificando el 'peso' de la fuente a negrita de los los label dentro de la clase .contact-form*/
    .contact-form label{
        font-weight: bold;
    }
}


/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    /*Eliminando el estilo de lista de las ul dentro de la clase .post y definiendo el contenedor con un despligue tipo flex*/
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /*Especificando un alto mínimo y máximo para los li de los ul dentro de la clase -post, y a su vez, especificando pargen y posición dentro del contenedor*/
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    /*Ajustando el ancho y el margen del contenedor de clase .logo*/
    .logo {
        width: 150px;
        margin: 1.5em;
    }

    /*Definiendo el contenedor de clase ,show-desktop con un despliegue tipo bloque*/
    .show-desktop {
        display: block;
    }

    /*Oculatando el contenido de la clase .hide-desktop*/
    .hide-desktop {
        display: none;
    }

    /*Configurando estilo de la clase .menu*/
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }

    /*Alineando menú de navegación con la imagen*/
    .show-desktop{
        padding-top: 10px;
    }

    /*Color "rojo" en contacto*/
    .show-desktop li a:hover{
        color: #F74442;
    }


    /*Reduciendo padding de parrafo*/
    .big-hero p{
        padding-bottom: 0;
    }

    /*Alienndo íconos hacia el centro de la big-hero image*/
    .big-hero i{
        margin-bottom: 2em;
        color: #0AC693;
        font-size: 1.5em;
    }
    
    /*Ajustando el margen y la posición de los elementos dentro del contenedor de clase .social-links*/
    .social-links{
        margin: 0;
        position: relative;
        bottom: 1em;
    }

    /*Ajustando margen, ancho, color y tamaño de fuente de los elementos 'i' dentro de la clase .social-links*/
    .social-links i{
        margin: 0;
        margin-top: 0.5em;
        width: 1.5em;
        color: #ffffff;
        font-size: 1em;

    }

    /*Ajustando el interlineado de los p dentro de los artículos contenidos dentro de la clase .container.post*/
    .container.post li article p{
        line-height: 1em;
    }

}

/*Personalizando tamaño para pantallas de 1024px*/
@media only screen and (min-width: 1024px) {

    /*Definiendo un cambio de color al detectar evento de pasar con el puntero sobre los elementos a dento de la clase .show-desktop*/
    .show-desktop li a:hover{
        color: #F74442;
    }

    /*Ajustando el tamaño de fuente a los elementos 'a' del contenedor de clase .show-desktop a*/
    .show-desktop a{
        font-size: 1.2em;
    }

    /*Modificando el margen, padding y tamaño de fuente de los elementos 'p' dentro de la clase .big-hero*/
    .big-hero p{
        font-size: 15px;
        padding: 0;
        margin-top: 1em;
    }

    /*Ajustando la posición el margen del contenedor con clase .social-links*/
    .social-links{
        margin: 0;
        position: relative;
        top: 0;
        
    }

    /*Ajustando el margen inferior, el tamaño de fuente y el color de los elementos 'i' dentro de la clase .big-hero*/
    .big-hero i{
        margin-bottom: 2em;
        font-size: 4em;
        color: #0AC693;  
    }

    /*Ajustando el margen, ancho, padding y ancho de los 'i' dentro de la clase .social-links, al igual que se modifica su color*/
    .social-links i{
        margin: 0;
        font-size: 2em;
        width: 1.3em;
        margin: 0 0 0.7em 0;
        color: #D7DEE6;
        padding: 0;
    }

    /*Definiendo dentro de la clase .about, la clase .container como un contenedor de despligue tipo Grid*/
    .about .container{
        display: grid;
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr 1fr;
    }

    /*Posicionando el elemento h2 dentro del grid definido en el contenedor de clase .container dentro de la clase .about, en la primera
    fila, extendiéndose dos columnas*/
    .about .container h2{
        grid-row: 1;
        grid-column: 1/3;
        border: 0;
        margin: 0;
    }

    /*Posicionando el contenedor de clase .bio-info dentro del grid del contenedor de clase .container, en la segunfa fila y la primera
    columna*/
    .bio-info{
        grid-row: 2;
        grid-column: 1;
    }

    /*Posicionando el contenedor de clase .contact dentro del grid del contenedor de clase .container en la segunfa fila y la segunda
    columna*/
    .contact{
        grid-row: 2;
        grid-column: 2;
        padding-left: 6em;
    }

    /*Ajustando el margen y el ancho del contenedor de clase .contact-form dentro de la clase .contact*/
    .contact .contact-form{
        margin-bottom: 3em;
        width: 400px;
    }

    /*Ajustando la altura del elemento textarea dentro de la clase .contact-form*/
    .contact-form textarea{
        height: 150px;
    }

    /*Modificando el margen de los elementos 'i' dentro de la clase .social-links contenida en el footer*/
    footer .social-links i{
        margin: 0;
    }

    /*Definiendo la lista no ordenada dentro de la clase .container.post como un desplegable de tipo flex*/
    .container.post ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    /*Ajustando el ancho y el alto de los 'article' contenidos en los 'li' dentro de la clase .container.post*/
    .container.post li article{
        width: 270px; 
        height: 300px;
    }

    /*Ajustando el padding izquierdo de los elementos 'li' dentro de la clase .container.post*/
    .container.post li{
        padding-left: 3em;
    }

    /*Definiendo la clase .bio-info como un contenedor tipo flex, con dirección en fila*/
    .bio-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Modificando el ancho de los elementos 'p' dentro de la clase .bio-info*/
    .bio-info p{
        width: 500px;
    }

}

/*Personalizando estilo para pantallas de 1440px*/
@media only screen and (min-width: 1440px) {

    /*Definiendo el ancho y margen de los elementos de clase .container*/
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    /*Definiendo evento de pasar con el puntero sobre los elementos 'a' dentro de la clase .show-desktop*/
    .show-desktop li a:hover{
        color: #F74442;
    }

    /*Modificando el margen superior, padding y tamaño de fuente de los elementos 'p' dentro de la clase .big-hero*/
    .big-hero p{
        font-size: 15px;
        padding: 0;
        margin-top: 1em;
    }

    /*Definiendo la posición y el margen dentro de la clase .social-links*/
    .social-links{
        margin: 0;
        position: relative;
        top: 0;
        
    }

    /*Modificando el margen inferior, el tamaño de la fuente y su color, de los elementos 'li' dentro de la clase .big-hero*/
    .big-hero i{
        margin-bottom: 2em;
        font-size: 4em;
        color: #0AC693;  
    }

    /*Dentro de la clase .social-links, modifica el margen, ancho y fuente de los elementos 'i'*/
    .social-links i{
        margin: 0;
        font-size: 2em;
        width: 1.3em;
        margin: 0 0 0.7em 0;
        color: #D7DEE6;
    }

    /*Ajustando la altura de los 'article' dentro de la clase .container.post*/
    .container.post ul article{
        height: 20em;
    }

    /*Definiendo la lista no ordenada dentro de la clase .container.post, como un contenedor de despliegue tipo flex, condirección en 
    fila*/
    .container.post ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /*Ajustando el ancho del contenedor de clase .contact-form dentro de la clase .contact*/
    .contact .contact-form{
        width: 30em;
    }
}